# Build output
bin/
out/
x64/
Debug/
Release/

*.ipch
*.suo
*.user
*.db
*.pdb
*.exe
*.ilk
.vs
.tmp
*.tlog
*.obj
*.idb
*.log
*.exp
*.iobj
*.ipdb

# Generated local UI/editor state
GameEngine/imgui.ini
docs/.obsidian/workspace.json

#folders to ignore
!GameEngine/src/debug/
!GameEngine/src/debug/**
!GameEngine/assets/**

# third_party binaries (keep headers/source, ignore precompiled libs)
# third_party/glfw/lib-vc2022/
